body{
    background-color: #272727;
}
.container-plans-btn {
  position: relative;
  --color-squares-background: #444b4d;
  background-color: #4e525d;
  border-radius: 0.75rem;
  cursor: pointer;
  margin-top: 200px;
  width: 400px;  
  margin-left: 38%;
  &::before {
    content: "";
    position: absolute;
    inset: -10px;
    background-color: #000;
    z-index: -999;
    box-shadow: 0 -20px 80px -35px rgba(255, 255, 250, 0.75);
    border-radius: 1.25rem;
    transition:
      all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      box-shadow 0.8s ease;
    pointer-events: none;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: transparent;
    inset: 0px;
    z-index: -99;
    opacity: 0;
    box-shadow:
      0 0 0 1.5px rgba(255, 255, 250, 0.3),
      0 0 4px 2px rgba(255, 255, 250, 0.1),
      0 0 8px 5px rgba(255, 255, 250, 0.1);
    border-radius: 0.75rem;
    transition:
      all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275),
      box-shadow 0.8s ease;
    pointer-events: none;
  }

  &:hover::before {
    inset: -12px;
    border-radius: 1.625rem;
    box-shadow: 0 0 60px rgba(255, 255, 250, 0.25);
  }

  &:hover::after {
    opacity: 1;
  }
}

.button {
  display: flex;
  align-items: center;
  width: 265px;
  height: 74px;
  border-radius: 0.75rem;
  border: 2px solid #272727;
  background: linear-gradient(
      45deg,
      var(--color-squares-background) 25%,
      transparent 25%,
      transparent 75%,
      var(--color-squares-background) 75%,
      var(--color-squares-background)
    ),
    linear-gradient(
      45deg,
      var(--color-squares-background) 25%,
      transparent 25%,
      transparent 75%,
      var(--color-squares-background) 75%,
      var(--color-squares-background)
    );
  background-size: 8px 8px;
  background-position:
    0 0,
    4px 4px;
  box-shadow:
    inset -10px -10px 25px 5px rgba(0, 0, 0, 0.5),
    inset 0 0 4px 1px rgba(255, 255, 255, 0.3),
    inset -10px -10px 60px rgba(0, 0, 0, 0.6);
  gap: 6px;
  z-index: 999999;
  transition: all 0.5s ease;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    inset: -1.5px;
    border-radius: 0.75rem;
    background-color: #272727;
    z-index: -1;
    background-image: linear-gradient(
      -45deg,
      #272727 0% 35%,
      #9d9d9d,
      #272727 65% 100%
    );
    background-position: right;
    background-size: 1800px;
    background-repeat: no-repeat;
    animation: slider-bg 6s linear infinite;
    transition: all 0.5s ease;
    pointer-events: none;
  }

  &:hover::after,
  &:focus-visible::after {
    opacity: 0;
    animation-play-state: paused;
  }

  &:focus-within .icon-arrow-sliding {
    transform: translate(190px, -50%) rotate(-90deg);
  }

  &:focus-within .text.normal span {
    animation: exit 3s ease forwards;
  }

  &:focus-within .text.focus {
    opacity: 1;

    & span {
      animation: emerge 2s calc((var(--i)) * 0.06s) ease forwards;
    }
  }

  &:focus-within .wave {
    opacity: 1;
    transition: 0.6s ease;
    width: 190px;
  }

  &:focus-within .exterior-lines {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &:active .exterior-lines {
    transform: translate(-50%, -50%) scale(0.95);
  }
}

@keyframes slider-bg {
  to {
    background-position: left;
  }
}

.wave {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%), scale(0.5);
  transition: all 0.5s ease;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.wave::before,
.wave::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%) scale(1.5);
  border-radius: inherit;
  border-bottom: 3px solid #444b4d;
  border-top: 3px solid #444b4d;
  filter: blur(3px);
  inset: 0;
  animation: wave 2s linear infinite;
  z-index: -999;
}

.wave::after {
  animation-delay: 1s;
}

@keyframes wave {
  0% {
    opacity: 0;
    box-shadow: 0 0 10px #4e525d;
    transform: translate(-50%, -50%) scale(1);
  }

  40% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.6);
  }

  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
    box-shadow: 0 0 50px #272727;
  }
}

.icon-arrow-sliding {
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 65px;
  height: calc(100% - 12px);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #848484;
  border-radius: 6px;
  box-shadow: inset 0 2px 2px rgba(255, 255, 250, 0.25);
  padding: 6px;
  transition: all 0.5s ease;

  & .column {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    --time: 5s;

    & .cube {
      flex-shrink: 0;
      width: 4px;
      height: 4px;
      background-color: #8e8c8c;
    }
  }
}

.column:nth-child(1) {
  & .cube:nth-child(2) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(3) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(4) {
    animation: row-center-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(5) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(6) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }
}

.column:nth-child(2) {
  & .cube:nth-child(2) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(3) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(4) {
    animation: row-center-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(5) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(6) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }
}

.column:nth-child(3) {
  & .cube:nth-child(2) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(3) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(4) {
    animation: row-center-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(5) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(6) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }
}

.column:nth-child(4) {
  & .cube:nth-child(2) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(3) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(4) {
    animation: row-center-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(5) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(6) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }
}

.column:nth-child(5) {
  & .cube:nth-child(2) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(3) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(4) {
    animation: row-center-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(5) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(6) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }
}

.column:nth-child(6) {
  & .cube:nth-child(2) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(3) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(4) {
    animation: row-center-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(5) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(6) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }
}

.column:nth-child(7) {
  & .cube:nth-child(2) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(3) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(4) {
    animation: row-center-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(5) {
    animation: row-mid-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }

  & .cube:nth-child(6) {
    animation: row-ext-cube var(--time) calc(var(--delay) * 0.1s) infinite
      steps(1, end);
  }
}

@keyframes row-center-cube {
  0%,
  6% {
    background-color: #ffffff;
    box-shadow: 0 0 4px #ffffff;
  }

  6%,
  50% {
    background-color: #8e8c8c;
    box-shadow: none;
  }

  50%,
  56% {
    background-color: #ffffff;
    box-shadow: 0 0 4px #ffffff;
  }

  56%,
  100% {
    background-color: #8e8c8c;
    box-shadow: none;
  }
}

@keyframes row-mid-cube {
  0%,
  2% {
    background-color: #8e8c8c;
    box-shadow: none;
  }

  2%,
  8% {
    background-color: #ffffff;
    box-shadow: 0 0 4px #ffffff;
  }

  8%,
  52% {
    background-color: #8e8c8c;
    box-shadow: none;
  }

  52%,
  57% {
    background-color: #ffffff;
    box-shadow: 0 0 4px #ffffff;
  }

  57%,
  100% {
    background-color: #8e8c8c;
    box-shadow: none;
  }
}

@keyframes row-ext-cube {
  0%,
  4% {
    background-color: #8e8c8c;
    box-shadow: none;
  }

  4%,
  10% {
    background-color: #ffffff;
    box-shadow: 0 0 4px #ffffff;
  }

  10%,
  54% {
    background-color: #8e8c8c;
    box-shadow: none;
  }

  54%,
  59% {
    background-color: #ffffff;
    box-shadow: 0 0 4px #ffffff;
  }

  59%,
  100% {
    background-color: #8e8c8c;
    box-shadow: none;
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
  font-size: 22px;
  color: #ffffff;
  padding-left: 77px;
  pointer-events: none;
  transition: all 0.5s;

  &.focus {
    padding-left: 0;
    padding-right: 64px;

    & span {
      opacity: 0;
      transition: all 0.5s;
    }

    &.text span:nth-child(3) {
      margin-right: 0;
    }

    &.text span:nth-child(7) {
      margin-right: 8px;
    }
  }

  & p {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    transition: all 0.5s;
  }
}

.text.normal span {
  position: relative;
  display: block;
  color: transparent;
  opacity: 0;
  animation: emerge 2s calc((var(--i)) * 0.06s) ease forwards;

  &:nth-child(3) {
    margin-right: 8px;
  }

  &::before,
  &::after {
    content: attr(data-label);
    position: absolute;
    color: #ffffff;
    left: 0;
    transition: all 0.5s;
  }

  &::before {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.button:hover .text span::before {
  text-shadow: 0 0 8px #ffffff;
  animation: char-in 0.7s ease calc(var(--i) * 0.03s);
}

.button:hover .text span::after {
  text-shadow: 0 0 8px #ffffff;
  opacity: 1;
  animation: char-out 0.7s ease calc(var(--i) * 0.03s) backwards;
}

.exterior-lines {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #4e525d;
  transition: all 0.5s ease;
  pointer-events: none;

  & svg {
    animation: expand 8s ease infinite;
  }
}

@keyframes expand {
  0% {
    transform: scale(1.25);
    opacity: 1;
  }

  25% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.25);
    opacity: 1;
  }

  75% {
    transform: scale(1.2);
    opacity: 0.5;
  }

  100% {
    transform: scale(1.25);
    opacity: 1;
  }
}

@keyframes emerge {
  0% {
    transform: scale(10);
    opacity: 0;
    filter: blur(20px);
  }

  50%,
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes exit {
  0% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0px);
  }

  50%,
  100% {
    transform: scale(2);
    opacity: 0;
    filter: blur(10px);
  }
}

@keyframes char-in {
  0% {
    opacity: 0;
    transform: translateY(60%);
    filter: blur(20px);
    color: transparent;
  }

  30% {
    transform: translateY(-15%);
    opacity: 1;
    filter: blur(1px);
    color: transparent;
  }

  60% {
    transform: translateY(5%);
    opacity: 1;
    filter: blur(0);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes char-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(-70%);
    opacity: 0;
    filter: blur(4px);
  }
}
