/* From Uiverse.io by dexter-st */ 
.wrapper {
  --accent-1: #5fa;
  --accent-2: #67ff7b;
  --accent-3: #fbff00;
  --accent-4: #a6ffe466;
  --light-1: #fff5d628;
  --light-2: #8eff6128;

  --duration: 3s;
  --transition: 0.5s;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  height: max-content;
}

.light-1,
.light-2 {
  pointer-events: none;
  position: absolute;
  top: -20px;
  left: -30px;
  width: 100px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--light-1);
  filter: blur(24px);
  z-index: 1;
  transition:
    opacity var(--transition) ease,
    top var(--transition) ease,
    left var(--transition) ease;
  opacity: 0.4;
}
.light-2 {
  top: auto;
  bottom: -20px;
  left: auto;
  right: -20px;
  width: 80px;
  height: 40px;
  background-color: var(--light-2);
  transition-duration: calc(var(--transition) * 2);
  z-index: -1;
  opacity: 0.25;
}

.ai-bg {
  position: absolute;
  z-index: -1;
  fill: none;
  transition: filter var(--transition) ease;
}

.line-bg {
  stroke: #fff1;
  stroke-width: 0.5;
}

.line {
  stroke: none;
  stroke-width: 0;
  stroke-dasharray: 16 56;
  transition: stroke var(--transition) ease-in-out;
}

.dot {
  fill: #555;
  opacity: 0.3;
  transition: fill var(--transition) ease;
}

.ai-btn {
  width: max-content;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 48px;
  border-radius: 7px;
  background-color: #000;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==),
    linear-gradient(to bottom, #fff1, transparent);
  color: #ddd;
  border: 1px solid #333;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5px;
  cursor: pointer;
  transition: all var(--transition) ease;
  box-shadow:
    0 0 30px -12px var(--light-1),
    inset -1px -1px 1px 1px #000,
    inset -2px -2px 2px 1px #fff2,
    inset 1px 1px 1px 1px #000,
    inset 2px 2px 2px 1px #fff2;
}

.ai-btn .txt-1 {
  position: absolute;
  opacity: 1;
  transition: opacity 0.4s ease;
}
.ai-btn .txt-2 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/* HOVER STATE */
.ai-btn:hover {
  color: #fff;
  border: 1px solid #555;
  text-shadow: 0 0 10px var(--light-1);
}
.wrapper:has(.ai-btn:hover) .dot {
  fill: #bbb;
}
.wrapper:has(.ai-btn:hover) .light-1,
.wrapper:has(.ai-btn:hover) .light-2 {
  opacity: 0.7;
}
.wrapper:has(.ai-btn:hover) .light-1 {
  top: -30px;
  left: -40px;
}
.wrapper:has(.ai-btn:hover) .light-2 {
  bottom: -30px;
  right: -30px;
}

/* ACTIVE STATE */
.ai-btn:active {
  box-shadow:
    0 0 10px var(--light-1),
    inset -1px -1px 1px 1px #000,
    inset -2px -2px 2px 1px #fff2,
    inset 1px 1px 1px 1px #000,
    inset 2px 2px 2px 1px #fff2;
}
.wrapper:has(.ai-btn:active) .light-1,
.wrapper:has(.ai-btn:active) .light-2 {
  opacity: 1;
}

/* FOCUS STATE */
.ai-btn:focus {
  background-color: #1a1a1e;
  border-color: var(--accent-2);
  animation: pulse var(--duration) ease-in-out infinite;
}

.ai-btn:focus .txt-1 {
  opacity: 0;
}
.ai-btn:focus .txt-2 {
  opacity: 1;
  animation: pulse-text var(--duration) ease-in-out infinite;
}
.wrapper:has(.ai-btn:focus) .dot {
  animation: dot-opac calc(var(--duration) * 0.5) linear infinite;
  fill: var(--accent-1);
}
.wrapper:has(.ai-btn:focus) .dot:nth-child(odd) {
  animation-delay: calc(var(--duration) * 0.1);
}
.wrapper:has(.ai-btn:focus) .line {
  animation: dash var(--duration) ease-out infinite;
}
.wrapper:has(.ai-btn:focus) .line:nth-child(odd) {
  animation-direction: normal;
  animation-delay: calc(var(--duration) * 0.1);
}
.wrapper:has(.ai-btn:focus) .ai-bg {
  filter: drop-shadow(0px 0px 4px var(--accent-3));
}

@keyframes pulse-text {
  0%,
  100% {
    text-shadow: 0 0 2px #0000;
  }
  50% {
    text-shadow: 0 0 32px var(--accent-3);
  }
}

@keyframes dot-opac {
  0%,
  100% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
}

@keyframes pulse {
  0%,
  100% {
    box-shadow:
      0 0 20px var(--light-2),
      inset -1px -1px 1px 1px #000,
      inset -2px -2px 2px 1px #fff2,
      inset 1px 1px 1px 1px #000,
      inset 2px 2px 2px 1px #fff2;
    border-color: #0000;
  }
  50% {
    box-shadow:
      0 0 60px 0px var(--light-1),
      inset -1px -1px 1px 1px #000,
      inset -2px -2px 2px 1px #fff2,
      inset 1px 1px 1px 1px #000,
      inset 2px 2px 2px 1px #fff2;
  }
  85% {
    border-color: var(--accent-2);
  }
}

@keyframes dash {
  0% {
    stroke-width: 0;
    stroke-dashoffset: 10;
    stroke: var(--accent-4);
  }
  50% {
    stroke-width: 0.5;
    stroke-dashoffset: 88;
    stroke: var(--accent-2);
  }
  100% {
    stroke-width: 0;
    stroke-dashoffset: 166;
    stroke: var(--accent-4);
  }
}
