.main{
	display:flex;
	gap:10px;
}

.box1{
	display:flex;
	flex-direction:column;
	
}
.a1{
	height:380px;
	width:190px;
	margin-top:10px;
	border-radius:10px;
}
.a2{
	height:130px;
	width:190px;
	margin-top:10px;
	border-radius:10px;
}
.a3{
	height:150px;
	width:190px;
	margin-top:10px;
	border-radius:10px;
}
.a4{
	height:135px;
	width:190px;
	margin-top:10px;
	border-radius:10px;
}
.a5{
	height:150px;
	width:180px;
	margin-top:10px;
	border-radius:10px;
}
.box2{
	display:flex;
	flex-direction:column;
}
.b1{
	height:200px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.b2{
	height:230px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.b3{
	height:150px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.b4{
	height:162px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.b5{
	height:220px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.box3{
	display:flex;
	flex-direction:column;
}
.c1{
	height:290px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.c2{
	height:180px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.c3{
	height:120px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.c4{
	height:150px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.c5{
	height:222px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.box4{
	display:flex;
	flex-direction:column;
}
.d1{
	height:110px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.d2{
	height:130px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.d3{
	height:110px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.d4{
	height:230px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.d5{
	height:230px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.box5{
	display:flex;
	flex-direction:column;
}
.e1{
	height:150px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.e2{
	height:140px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.e3{
	height:180px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.e4{
	height:160px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.e5{
	height:370px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.box6{
	display:flex;
	flex-direction:column;
}
.f1{
	height:350px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.f2{
	height:330px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.f3{
	height:177px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.f4{
	height:200px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}
.f5{
	height:230px;
	width:200px;
	margin-top:10px;
	border-radius:10px;
}