body{
	color:white;
}
.main{
	height:2000px;
	width:2000px;
	background-color:black;
}
.option{
	height:50px;
	width:2000px;
	background-color:black;
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.logo img{
	height:45px;
	background-color:black;
	
	background-color:;
}
.home{
	height:50px;
	width:2000px;
	background-color:;
	display:flex;
	justify-content:space-evenly;
	gap:50px;
	
}
.nav{
	display:flex;
	gap:200px;
	justify-content:space-between;
	align-items:center;
	font-weight:900;
	font-size:20px;
}
.contact{
	background:radial-gradient(circle,red,green);
	height:10px;
	width:100px;
	border-radius:10px;	
}
.button{
	background-color:#0DDD88;
	height:35px;
	width:100px;
}
.second{
	height:50vh;
	width:70%;
	background-color:black;
	display:flex;
	justify-content:space-between;
	gap:40px;
	padding:0;
	margin:0;
	
	 
}
.photo{
	height:70%;
	width:20%;
	background-color:white;
	border-radius:5px;
	margin-top:10px;
	margin-left:10px;
	border: solid 2px white;
	border-radius:10px;
    object-fit:cover;
}
.photo img{
	height:100%;
	width:100%;
	object-fit:cover;
	display:black;
}
.bio{
	height:50%;
	width:50%;
	background-color:;
}
.name{
	margin:20px;
	font-family:underline;
	color:#5E9489;
	font-size:50px;
	
}
.dev{
	font-size:50px;
	color:#5E9489;
}
.p1{
	margin:20px;
	
}
.cv{
	height:40px;
	width:130px;
	background-color:#0DDD88;
}