body{
	background-color:grey;

}
.main{
	height:100vh;
	width:100%;
	display:flex;
	flex-direction:column;

	justify-content:center;
}
.chess{
	display:flex;
	justify-content:center;
	
}	
.row{
	width:150px;
	height:150px;
	background-color:white;
}
.row-1{
	width:150px;
	height:150px;
	background-color:black;
}
